body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "lnav article rnav"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 20%;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  background-color: #000000;
  height: 100vh;
  margin: 0;
  }  
header, footer, article, nav, snav {
  padding: 1.2em;
  background: #333333;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;

  }
#pageHeader {
  grid-area: header;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 50px;
  }
#pageFooter {
  grid-area: footer;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  }
#mainArticle { 
  grid-area: article;
  font-family: "Open Sans", sans-serif;
  }
#mainLNav { 
  grid-area: lnav;
  font-family: "Open Sans", sans-serif;
  }
#mainRNav { 
  grid-area: rnav;
  font-family: "Open Sans", sans-serif;
  } 
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #74748a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }




@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "lnav"
      "rnav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}