body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw 30vw 10vw;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-gap: 1em;
  color: #000000;
  background: #888888;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 2;
}

aside {
  grid-column: span 2;
}

@media (max-width: 700px) {
  
  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}



/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: auto;
  padding: 1em 0;
}

header,
main,
aside,
footer {

  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  height: 10vw;;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #590C0C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
